name: Code Coverage Report

on:
  push:
    branches:
      - main

jobs:
  coverage-report:
    name: Check Code Coverage
    runs-on: ubuntu-latest
    steps:
    -
      name: Set up Go 1.x
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
      with:
        go-version: 1.25.7
    -
      name: Set up Python 3.11
      uses: actions/setup-python@b64ffcaf5b410884ad320a9cfac8866006a109aa # v4.8.0
      with:
        python-version: 3.11
    -
      name: Check out code into the Go module directory
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
    -
      name: Cache go modules
      id: cache-mod
      uses: actions/cache@2f8e54208210a422b2efd51efaa6bd6d7ca8920f # v3.4.3
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    -
      name: Download dependencies
      run: go mod download
      if: steps.cache-mod.outputs.cache-hit != 'true'
    -
      name: Run Go Tests
      run: |
        python -m pip install --upgrade pip yq
        go install golang.org/x/tools/cmd/goimports@v0.24.0
        go install github.com/onsi/ginkgo/v2/ginkgo@v2.0.0
        make update_devworkspace_crds test
    -
      name: Build Codecov report
      uses: codecov/codecov-action@eaaf4bedf32dbdc6b720b63067d99c4d77d6047d # v3.1.4
      with:
        files: ./cover.out,./controller.cover.out
